* {
	font-family:sans-serif;

}

body {
	background-image: url("background-3.jpg");
	background-attachment: fixed;
}

/* Navigation bar */
a.name {
	width: 33.7%;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ffffb2;
	margin: 0px;
	border-right: 1px dotted;
}

#nav-container {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0px;
	position: fixed;
	left: 0;
	top: 0;
}

a.nav-link, a.name {
	opacity: 0.90;
	float: left;
	text-align:center;
	vertical-align: center;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.25em;
	text-decoration: none;
	color: #000000;
}

ul.nav-bar {
	list-style-type: none;
	width: 100%;
	margin: 0px;
	float: right;
}


a.nav-link {
	width: 22%;
	display: block;
	color: #000000;
	background-color: #f8a5c2;
}

a.nav-link:hover {
	transition:1s;
	background-color: #ff7ab6;
	color: #ffffff;
}

a.name:hover {
	transition:1s;
	background-color: #FBF373;
}

#nav li {
	display: inline;
}

/* Index page */
.index-container {
	margin: 20px 20px 0 0;
	width: 100%;
}

#my-image {
	float: left;
	padding: 10px;

}

#my-image img {
	display: block;
}

#about-text, #index-text, #contact-text, #projects-text{
	margin-top: 80px;
}
